%p= link_to "提出新问题", new_question_path

%p= link_to "我提的问题列表", byme_questions_path

%p= link_to "我回答的问题列表", answered_questions_path


-@questions.each do |q|
  %span= q.creator.name
  %span= q.answers.count
  %p= link_to q.title, q
  %p= q.created_at.localtime
