%p= link_to "提出新问题", new_question_path

%p= link_to "我提的问题列表", byme_questions_path

%p= link_to "我回答的问题列表", answered_questions_path


-@questions.each do |q|
  %span= q.creator.name
  %span= q.answers.count
  %p= link_to q.title, q
  %p= q.created_at.localtime

  -q.comments.each do |comment|
    -if comment.reply_comment_id.blank?
      %div
        %span=comment.creator.name
        %span ：
        %span=comment.content
        %span=link_to "回复","/question_comments/#{comment.id}/reply"
    -else
      %div
        %span  #{comment.creator.name} 回复 #{comment.reply_user.name} : #{comment.content}
        %span=link_to "回复","/question_comments/#{comment.id}/reply"
        
        
    =flash[:error]
    =form_for q.comments.build, :url=>"/questions/#{q.id}/question_comments" do |f|
      %label 内容
      %div
        =f.text_area :content
      %div
        =f.submit "评论"
