.comments
  -comments.each do |comment|
    .comment
      -if comment.reply_comment.blank?
        %span.text #{comment.creator.name} : #{comment.content}
      -else
        %span.text #{comment.creator.name} 回复 #{comment.reply_user.name} : #{comment.content}

      =link_to "回复","/answer_comments/#{comment.id}/reply"
  .form
    =form_for Comment.new, :url=>"/answers/#{@question.id}/answer_comments" do |f|
      .field
        %label 评论内容
        =f.text_area :content
      .field
        %a.form-submit-button{:href=>'javascript:;'} 确定